.container{

    display: flex;
    width: 50%;
    flex-direction: column;
    justify-items: center;



}



.onSubmit {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    color: black;




}



.button {
    background-color: #ff1e00;
}


.alert {
    background-color: white;
    color: red;
}
