.x{

   display: flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
    justify-content: end;



}
.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 40%;
    background-color: lightsalmon;
}

.submit{
    display: flex;
    flex-direction: column;

}

.button{
    display: flex;
    /*align-content: center;*/
    /*align-items: center;*/
    justify-content: end;
    width: 100px;
    background-color: red;

}
