
.container {

    display: flex;
    width: 1000px;
    box-sizing: border-box;
    flex-direction: row;


}


.profileData {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: space-between;
    background-color: #d1ce00;
    color: white;
    padding: 20px;
}


.profileImage {
    display: flex;
    flex-direction: column;
    background-color: lightsalmon;
    width: 200px;
    /*height: 200px;*/
    align-items: center;
    justify-content: center;
}


.profielUpdate {
    display: flex;
    flex-direction: column;
    background-color: #7afbff;
    width: 200px;
    /*height: 200px;*/
    align-items: center;
    justify-content: center;
}

.button1 {
    background-color: magenta;
}





