.order-container{
    display: flex;
    width: 50%;
    box-sizing: border-box;
    flex-direction:column;
    color: black;
    background-color: coral;

    justify-content: left;
    height: 60%;
    align-items: flex-start;
    margin-left: 150px;

}
.listItem-buttons{

    align-content: center;






}
